
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MentalStress</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<div>
    <!-- Topbar Start -->
    <div class="container-fluid bg-secondary ps-5 pe-0 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body py-2 pe-3 border-end" href=""><small>FAQs</small></a>
                    <a class="text-body py-2 px-3 border-end" href=""><small>Support</small></a>
                    <a class="text-body py-2 px-3 border-end" href=""><small>Privacy</small></a>
                    <a class="text-body py-2 px-3 border-end" href=""><small>Policy</small></a>
                    <a class="text-body py-2 ps-3" href=""><small>Career</small></a>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-end">
                <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
                    <div class="me-3 pe-3 border-end py-2">
                        <p class="m-0"><i class="fa fa-envelope-open me-2"></i>techciti@gmail.com</p>
                    </div>
                    <div class="py-2">
                        <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
        <a href="/" class="navbar-brand p-0">
            <h1 class="m-0 text-uppercase text-primary"><i class="far fa-smile text-primary me-2"></i>Mental Stress</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 me-n3">
                <a href="adminhome" class="nav-item nav-link active">Home</a>
                <a href="logout" class="nav-item nav-link active">Logout</a>
                
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


        <div class="contact">
            <div class="container">
               <div class="row">
                   <div class="col-md-12">
                        <div class="titlepage text_align_left">
                           <h2>View MentalStress Detection</h2>
                        </div>
                     </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                    
                  


                     <table class="table">
                       <thead class="thead-light">
                         <tr>
                           
                           <th scope="col">Anxiety_Level </th>
                           <th scope="col">Self_Esteem</th>
                           <th scope="col">Mental_health_history</th>
                           <th scope="col">Depression</th>
                           <th scope="col">Headache</th>
                           <th scope="col">Blood_pressure</th>
                           <th scope="col">Sleep_Quality</th>
                           <th scope="col">Breathing_Problem</th>
                           <th scope="col">Noise_Level</th>
                           <th scope="col">Living_Conditions</th>
                           <th scope="col">Safety</th>
                           <th scope="col">Basic_Needs</th>
                           <th scope="col">Academic_Performance</th>
                           <th scope="col">Study_Load</th>
                           <th scope="col">Teacher_student_relationship</th>
                           <th scope="col">Future_career_concerns</th>
                           <th scope="col">Social_support</th>
                           <th scope="col">Peer Pressure</th>
                           <th scope="col">Extracurricular_activities</th>
                           <th scope="col">Bullying</th>
                           <th scope="col">Mental Stress_Level</th>
                           </tr>
                       </thead>
                       	 
                                                                
                       <tbody>
                         
                           {% for i in mental %}
                         <tr>
                           
                           <td>{{i.anxiety_level}}</td>
                           <td>{{self_esteem}}</td>
                           <td>{{i.mental_health_history}}</td>
                           <td>{{i.depression}}</td>
                           <td>{{i.headache}}</td>
                           <td>{{i.blood_pressure}}</td>
                           <td>{{i.breathing_problem}}</td>
                           <td>{{i.noise_level}}</td>
                           <td>{{i.living_conditions}}</td>
                           <td>{{i.safety}}</td>
                           <td>{{i.basic_needs}}</td>
                           <td>{{i.academic_performance}}</td>
                           <td>{{i.study_load}}</td>
                           <td>{{i.teacher_student_relationship}}</td>
                           <td>{{i.future_career_concerns}}</td>
                            <td>{{i.social_support}}</td>
                            <td>{{i.peer_pressure}}</td>
                            <td>{{i.extracurricular_activities}}</td>
                            <td>{{i.bullying}}</td>
                            <td>{{i.stress_level}}</td>
        
                         </tr>
                         {% endfor %}
                       </tbody>
                     </table>
                  </div>
                   
               </div>
            </div>
         </div>